{% extends 'layout.html' %}
{% block varScripts %}
<script src="https://vjs.zencdn.net/7.6.6/video.js"></script>
<script type="text/javascript">
    function CameraId(data){
        return data;
    }
    const camData = CameraId({{data|tojson}})
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/cam.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js')}}"></script>

{% endblock %}

  {% block content %}
      <div class="row" id="camsDisplay">
        <div class='col s9' id='display1'></div>
        <div class='col s3' id='displaydetails' style="display:none;">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Camera Details</span>
                    <h6>Camera Name: {{camdata['camera_name']}}</h6>
                    <p>Status: Active</p>
                    <p>IP Address: {{camdata['ipaddress']}}</p>
                    <p>Channel: {{camdata['channel']}}</p>
                  <p></p>
                </div>
              </div>
        </div>
      </div>
    {% endblock %}
    {% block jsScripts %}

    {% endblock %}